{% extends "base.html" %}
{% block title %}
About Us - Hospital Bed Booking
{% endblock title %}

{% block body %}

<main>
		<section>
			<h1>About Us</h1>
			<p>Welcome to Hospital Bed Booking, your one-stop destination for booking hospital beds online. Our mission is to make it easy for patients and their families to find and book available hospital beds without the hassle of long wait times or endless phone calls.</p>
			<p>Our platform offers a user-friendly interface that allows you to search for hospital beds based on your specific needs, such as location, availability, and type of care required. With our extensive network of hospitals, we ensure that you get access to the best medical care available.</p>
			<p>At Hospital Bed Booking, we are committed to providing you with a seamless and stress-free booking experience. Our team of experienced professionals is available round-the-clock to assist you with any queries or concerns you may have.</p>
			<p>Thank you for choosing Hospital Bed Booking. We look forward to serving you and your loved ones.</p>
		</section>
	</main>

{% endblock body %}
