{% extends "base3.html" %}
{% block title %}
Add Hospital Information
{% endblock title %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<div class="container mt-4">
    <div class="display-4 text-center text-info">Add Hospital Data</div>
    <br>
     <div class="row">
        <div class="col-md-4">
<div class="card">
    {% include "message.html" %}
    <h4 class="text-center text-success">Healthcare Center</h4>
    <div class="card-body bg-light">
<form action="/addhospitaldata" method='post'>
   <Center>Hospital Code : {{current_user.hcode}}</Center>

    <div class="form-group">
        <input type="text" class="form-control mt-2" name="hcode" value="{{current_user.hcode}}" required hidden>
    </div>
    <div class="form-group">
        <input type="hname" class="form-control mt-2" name="hname" placeholder="Enter Hospital Name" required>
    </div>
    <div class="form-group">
        <input type="depid" class="form-control mt-2" name="depid" placeholder="Enter Department ID" required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control mt-2" name="normalbed" placeholder="Normal Beds Available?"required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control mt-2" name="hicubed" placeholder="H.I.C.U Beds Available?"required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control mt-2" name="icubed" placeholder="I.C.U Beds Available?"required>
    </div>
    <div class="form-group">
        <input type="number" class="form-control mt-2" name="vbed" placeholder="Ventilators Beds Available?"required>
    </div>
    <div class="form-group">
        <input type="haddress" class="form-control mt-2" name="haddress" placeholder="Enter Hospital Address" required>
    </div>
    <br>
    <button class="btn btn-info" type="submit">Add</button>


</form>

    </div>
</div>

        </div>
        <div class="col-md-8">
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://source.unsplash.com/600x1000/?medical,hospital" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hospital Data</h5>
       <div class="card" style="width: 28rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Hospital Code: <b>{{postsdata.hcode}}</b></li>
    <li class="list-group-item">Hospital Name: <b>{{postsdata.hname}}</b> </li>
    <li class="list-group-item">Department ID: <b>{{postsdata.depid}}</b> </li>
    <li class="list-group-item">Normal Beds Available: <b>{{postsdata.normalbed}}</b> </li>
    <li class="list-group-item">H.I.C.U Beds Available: <b>{{postsdata.hicubed}}</b> </li>
    <li class="list-group-item">I.C.U Beds Available: <b>{{postsdata.icubed}}</b> </li>
    <li class="list-group-item">Ventilators Beds Available: <b>{{postsdata.vbed}}</b> </li>
    <li class="list-group-item">Hospital Address: <b>{{postsdata.haddress}}</b> </li>

    <li class="list-group-item"><a href="/hoedit/{{postsdata.id}}"><i class="fas fa-edit"></i></a> </i>
                  
        <a class="ml-4" href="/hodelete/{{postsdata.id}}"><i class="fas fa-trash-alt"></i></a>
  </li>
  </ul>
</div>
      </div>
    </div>
  </div>
</div>

        </div>
     </div>

    </div>


{% endblock body %}